*~
.DS_Store

dev/

tutorials/.ipynb_checkpoints/
tutorials/.DS_Store/
tutorials/__pycache__/

tutorials/html/
tutorials/dev/

git/*.pptx

labs/.ipynb_checkpoints/
labs/.DS_Store/
labs/__pycache__/

labs/dev/


